---
---

@import "{{ site.theme }}";

.wrapper {
  max-width: 1500px;
}


@media screen and (min-width: 800px) {
  
  header {
    width: 220px;         
  }

  section {
    margin-left: 260px;    
  }
}
