---
---

@import "{{ site.theme }}";

.wrapper {
  max-width: 1100px;   
  display: flex;
}

.sidebar {
  width: 210px !important;  
  padding-right: 20px;
}

.main {
  flex: 1;
  max-width: 850px; 
}
